<div class="row dashboard-data-box-header" style="border-color: #00a65a;">
  <div class="col l xl3 m3 s3">
    <p style="text-transform:none;">CMO Letter</p>
  </div>

  <div class="col l xl9 m9 s9 text-right">
    <a mat-button class="btn-submit mt-6" (click)="chart('table')" title="Table Chart">
      <mat-icon>view_module</mat-icon>
    </a>
    <a mat-button class="btn-submit mt-6" (click)="chart('bar')" title="Bar chart">
      <mat-icon>bar_chart</mat-icon>
    </a>
    <a mat-button class="btn-submit mt-6" (click)="chart('pie')" title="Pie chart">
      <mat-icon>pie_chart</mat-icon>
    </a>
    <a mat-button class="btn-submit mt-6" (click)="chart('line')" title="Line Chart">
      <mat-icon>trending_up</mat-icon>
    </a>
    <a mat-button class="btn-submit mt-6" (click)="openDialog()" title="Zoom">
      <mat-icon>zoom_out_map</mat-icon>
    </a>
  </div>
</div>

<div class="row">
  <div class="col l12  m6 s12">
    <div id="cmoletterdiv"></div>
  </div>
</div>