<app-global-list-search [SearchFields]="ViewdisplayedColumns" (onSearch)="SearchByKeyword($event)">
</app-global-list-search>

<div class="row">
    <div class="col l12 s12 p-0">
        <mat-toolbar color="primary" *ngIf="totalRecords==0">No Record...!</mat-toolbar>

        <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8"
            *ngIf="totalRecords!=0">

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    {{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
            </ng-container>

            <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">
                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.Text}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column.Value]}} </td>
            </ng-container>

            <ng-container matColumnDef="IsActive">
                <th mat-header-cell *matHeaderCellDef> Active Status </th>
                <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
                    <a *ngIf="this.Permission.UpdatePageAccess" (click)="updateActiveStatus(element.GalleryCode)"
                        title="Update Active Status">
                        <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
                        <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
                    </a>
                    <a *ngIf="!this.Permission.UpdatePageAccess" title="Active Status">
                        <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
                        <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" style="cursor:pointer;" class=" action-link">
                    <a *ngIf="this.Permission.DeletePageAccess" (click)="updateDeleteStatus(element.GalleryCode)"
                        title="Delete">
                        <mat-icon>delete</mat-icon>
                    </a>
                    <a *ngIf="this.Permission.DetailPageAccess" routerLink="detail/{{element.GalleryCode}}" title="Detail">
                        <mat-icon>visibility</mat-icon>
                    </a>
                    <a *ngIf="this.Permission.UpdatePageAccess" routerLink="update/{{element.GalleryCode}}" title="Update">
                        <mat-icon>edit</mat-icon>
                    </a>
                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>

        <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
            [pageSizeOptions]="[10, 20, 50,100]" (page)="onPaginateChange($event)" showFirstLastButtons
            *ngIf="totalRecords!=0">
        </mat-paginator>
    </div>
</div>