<div class="row m-20">

    <div class="col l6 xl6 m6 s12 download_pdf" *ngIf="helpDocument">
        <a (click)="downloadPdf(helpDocument)" href="JavaScript:Void(0);">
            <mat-icon>picture_as_pdf</mat-icon>
            Click to download Help Document
        </a>
    </div>
    <div class="col l6 xl6 m6 s12">
        <button class="btn-submit mat-button" mat-button (click)="saveAsDrafts();">Save As Drafts</button>
    </div>
</div>

<div class="row add_scheme">
    <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper>
        <mat-step [stepControl]="firstFormGroup">
            <form [formGroup]="firstFormGroup">
                <ng-template matStepLabel><a href="javascript:void(0);">Scheme/Service Details</a></ng-template>
                <div class="col l12 m12 s12 mb-35 text-center">
                    <section class="mat-typography">
                        <h2 class="color-blue mb-0">Scheme/Service Details</h2>
                    </section>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Name (English)<span style="color: red">*</span></mat-label>
                        <input matInput placeholder="Scheme/Service Name (English)" #NameEnglish
                            formControlName="NameEnglish" [(ngModel)]="model.NameEnglish" maxlength="250" />
                        <mat-hint>{{ NameEnglish.value.length }}/250</mat-hint>
                    </mat-form-field>
                    <mat-error *ngIf="        firstFormGroup.get('NameEnglish').hasError('required') &&        (firstFormGroup.get('NameEnglish').touched &&          firstFormGroup.get('NameEnglish').invalid)
      "> Scheme/Service Name (English) is <strong>required!</strong> </mat-error>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Short Name (English)</mat-label>
                        <input matInput placeholder="Scheme/Service Short Name (English)" #ShortNameEnglish
                            [(ngModel)]="model.ShortNameEnglish" formControlName="ShortNameEnglish" maxlength="10" />
                        <mat-hint>{{ ShortNameEnglish.value.length }}/10</mat-hint>
                    </mat-form-field>

                    <mat-error
                      *ngIf="firstFormGroup.get('ShortNameEnglish').hasError('required') && (firstFormGroup.get('ShortNameEnglish').touched && firstFormGroup.get('ShortNameEnglish').invalid)">
                      Short Name is <strong>not valid! Please remove space.</strong>
                    </mat-error>


                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Name (Hindi)</mat-label>
                        <input matInput placeholder="Scheme/Service Name (Hindi)" #NameHindi
                            [(ngModel)]="model.NameHindi" maxlength="250" formControlName="NameHindi" />
                        <mat-hint>{{ NameHindi.value.length }}/250</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Short Name (Hindi)</mat-label>
                        <input matInput placeholder="Scheme/Service Short Name (Hindi)" #ShortNameHindi
                            [(ngModel)]="model.ShortNameHindi" maxlength="20" formControlName="ShortNameHindi" />
                        <mat-hint>{{ ShortNameHindi.value.length }}/20</mat-hint>
                    </mat-form-field>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Start Date </mat-label>
                        <input matInput placeholder="Enter a date" name="StartDate" id="StartDate"
                            formControlName="StartDate" [(ngModel)]="model.StartDate" />
                    </mat-form-field>
                </div>
                <div class="col l2  m6 s12">
                    <div class="upload-btn-wrapper">
                        <mat-label>Scheme/Service Logo</mat-label>
                        <input type="file" id="Logo" formControlName="Logo" (change)="handleFileLogo($event,true)"
                            accept="image/*">
                        <img *ngIf="model.Logo" [src]="model.Logo" height="100px" width="100px" />
                    </div>
                </div>
                <div class="col l2  m6 s12">
                    <div class="upload-btn-wrapper">
                        <mat-label>Scheme/Service Banner</mat-label>
                        <input type="file" id="Banner" formControlName="Banner" (change)="handleFileLogo($event)"
                            accept="image/*">
                        <img *ngIf="model.BannerImage" [src]="model.BannerImage" height="100px" width="100px" />
                    </div>
                </div> 
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Scheme/Service Type</mat-label>
                        <mat-select name="Type" [(ngModel)]="model.Type" formControlName="Type" multiple>
                            <mat-option value="{{ k.Value }}" *ngFor="let k of dDLList?.ddlSchemeServiceType">
                                {{ k.Text }}</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-radio-group class="example-full-width radio-bx-custom radio-bx-custom-with-label"
                        aria-label="Select an option" [(ngModel)]="model.OwnedBy" formControlName="OwnedBy"
                        (click)="resetModel()">
                        <mat-label class="mr-5">Scheme/Service Funding Agency</mat-label>
                        <mat-radio-button class="mr-5" value="{{ item.Value }}"
                            *ngFor="let item of dDLList?.RadioSchemeOwnedBy"> {{ item.Text }} </mat-radio-button>
                    </mat-radio-group>
                    <div *ngIf="model.OwnedBy == '28'" class="row" style="margin-bottom:0px; margin-top:15px">
                        <div class="col l6" style="margin-bottom:0px;">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>State % </mat-label>
                                <input matInput placeholder="State" name="OwnedBySate" formControlName="OwnedBySate"
                                    [(ngModel)]="model.OwnedBySate" maxlength="2" />
                            </mat-form-field>
                        </div>
                        <div class="col l6" style="margin-bottom:0px;">
                            <mat-form-field class="example-full-width" appearance="outline">
                                <mat-label>Center %</mat-label>
                                <input matInput placeholder="Center" name="OwnedByCenter"
                                    formControlName="OwnedByCenter" [(ngModel)]="model.OwnedByCenter" maxlength="2" />
                            </mat-form-field>
                        </div>
                    </div>
                    <mat-error *ngIf="firstFormGroup.hasError('notValid')"> sum of State and Center Value not more 100
                        <strong>required!</strong> </mat-error>
                    <!-- <mat-checkbox [(ngModel)]="model.IsListedRGDPSAct" (change)="addDeliveryTimeInDaysValidation()"
  formControlName="IsListedRGDPSAct"></mat-checkbox> -->
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Admin Department<span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="AdminDepartmentCode" #AdminDepartmentCode
                            [(ngModel)]="model.AdminDepartmentCode" (ngModelChange)="getSchemeDepartmentList($event)">
                            <mat-option>--Select--</mat-option>
                            <mat-option value="{{ k.AdmDepartmentCode }}" *ngFor="let k of ddlAdminDepartment">
                                {{ k.AdmDepartmentTitle }}</mat-option>

                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="firstFormGroup.get('AdminDepartmentCode').hasError('required') && (firstFormGroup.get('AdminDepartmentCode').touched && firstFormGroup.get('AdminDepartmentCode').invalid)
    "> Admin Department is <strong>required!</strong> </mat-error>
                </div>
                <div class="col l4 xl4 m6 s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <mat-label>Nodal Department<span style="color: red">*</span> </mat-label>
                        <mat-select formControlName="ParentNodelDepartmentCode" [(ngModel)]="model.NodelDepartmentCode"
                            name="ParentNodelDepartmentCode" id=ParentNodelDepartmentCode>
                            <mat-option value="{{ k.Value }}" *ngFor="let k of dDLList?.ddlDepartment">{{ k.Text }}
                            </mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-error *ngIf="firstFormGroup.get('ParentNodelDepartmentCode').hasError('required') && (firstFormGroup.get('ParentNodelDepartmentCode').touched && firstFormGroup.get('ParentNodelDepartmentCode').invalid)
    "> Nodal Department is <strong>required!</strong> </mat-error>
                </div>
                <div class="col l4 xl4 m6 s12">
                  <mat-form-field class="example-full-width" appearance="outline">
                      <mat-label class="mr-5">Department Website Url </mat-label>
                      <input matInput placeholder="www.xyz.com" name="DepartmentWebsiteUrl"
                          formControlName="DepartmentWebsiteUrl" [(ngModel)]="model.DepartmentWebsiteUrl" />
                  </mat-form-field>
                </div>
                <div class="col s12">
                    <mat-form-field class="example-full-width" appearance="outline">
                        <label style="padding: 10px 0px; display: inline-block;">Scheme/Service Description
                            <span style="color: red">*</span></label>
                        <textarea style="display:none;" matInput placeholder="Description" #Description
                            formControlName="Description" maxlength="100000"></textarea>

                        <ckeditor [config]="{uiColor: '#26389b'}" [(ngModel)]="model.Description"
                            placeholder="Description" formControlName="Description" #Description></ckeditor>
                        <mat-hint>{{ Description.value.length }}/100000</mat-hint>
                    </mat-form-field>
                    <mat-error *ngIf="
              firstFormGroup.get('Description').hasError('required') &&
              (firstFormGroup.get('Description').touched &&
                firstFormGroup.get('Description').invalid)
            ">
                        Scheme/Service Description is <strong>required!</strong>
                    </mat-error>
                </div>

                <section class="mat-typography col l12 s12">
                    <h2 class="color-grey mb-0">Contact Person Details For Citizen</h2>
                </section>
                <div class="row highlight_view btn_add_data">

                    <div class="col l4 xl4 m6 s12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nodal Department<span style="color: red">*</span> </mat-label>
                            <mat-select formControlName="NodelDepartmentCode"
                                [(ngModel)]="EntryLookUpModel.NodelDepartmentCode" name="NodelDepartmentCode">
                                <mat-option value="{{ k.Value }}" *ngFor="let k of dDLList?.ddlDepartment">{{ k.Text }}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                        <mat-error *ngIf="firstFormGroup.get('NodelDepartmentCode').hasError('required') &&
        (firstFormGroup.get('NodelDepartmentCode').touched &&
          firstFormGroup.get('NodelDepartmentCode').invalid)
      "> Nodal Department is <strong>required!</strong> </mat-error>
                    </div>
                    <div class="col l4 xl4 m6 s12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Nodal Officer Name </mat-label>
                            <input matInput placeholder="Nodel Officer Name" name="NodelOfficerName"
                                [(ngModel)]="EntryLookUpModel.NodelOfficerName" formControlName="NodelOfficerName"
                                maxlength="1000" />
                        </mat-form-field>
                    </div>
                    <div class="col l4 xl4 m6 s12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Phone Number </mat-label>
                            <input matInput *ngIf="isEditPhone" placeholder="Phone Number" #MobileNoString
                                formControlName="MobileNoString" [(ngModel)]="EntryLookUpModel.MobileNo" />
                            <input matInput *ngIf="!isEditPhone" placeholder="Phone Number" #MobileNo
                                formControlName="MobileNo" [(ngModel)]="EntryLookUpModel.MobileNo" maxlength="10"
                                (keypress)="numberonly($event)" />
                        </mat-form-field>


                        <div class="number_add "> <span *ngIf="phoneNumberString">{{phoneNumberString}} <a
                                    href="javascript:void(0)" (click)="AddPhoneNumber(true)">
                                    <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon_edit">edit
                                    </mat-icon>
                                </a> </span>
                            <a href="javascript:void(0)" (click)="AddPhoneNumber()">
                                <mat-icon aria-hidden="false" aria-label="Example home icon" class="icon_add">add
                                </mat-icon>
                            </a>
                        </div>
                    </div>

                    <div class="col l4 xl4 m6 s12">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>EmailId </mat-label>
                            <input matInput placeholder="EmailId" name="EmailId" formControlName="EmailId"
                                [(ngModel)]="EntryLookUpModel.EmailId" maxlength="1000"
                                pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" />
                        </mat-form-field>
                        <mat-error *ngIf="
        firstFormGroup.get('EmailId').touched &&
        firstFormGroup.get('EmailId').invalid
      "> Only Accept Email Format </mat-error>
                    </div>
                    <div class="col l4 xl4 m6 s12">
                        <mat-form-field class="example-full-width designation-bx" appearance="outline">
                            <mat-label>Designation <span style="color: red">*</span></mat-label>
                            <input matInput placeholder="Designation" name="Designation" formControlName="Designation"
                                [(ngModel)]="EntryLookUpModel.Designation" maxlength="1000" />
                        </mat-form-field>
                        <mat-error style="top: 45px;" *ngIf="
    firstFormGroup.get('Designation').hasError('required') &&
        (firstFormGroup.get('Designation').touched &&
        firstFormGroup.get('Designation').invalid)
      "> Scheme/Service Designation is <strong>required!</strong> </mat-error>
                        <a class="btn_add" href="javascript:void(0)" (click)="AddMoreEntry()">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                        </a>
                    </div>
                    <!-- <mat-error *ngIf="model.EntryLookUp.length == 0 && iCustomValidation"> Admin Department and nodal department should not be null </mat-error>-->
                    <div class="col l12 m12 s12" *ngIf="model.EntryLookUp.length > 0">
                        <table class="table new_table table_border table_custom mb-20">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.No</th>
                                    <!-- <th scope="col">Admin Department</th> -->
                                    <th scope="col">Nodal Department</th>
                                    <th scope="col">Nodal Officer</th>
                                    <th scope="col">Phone Number</th>
                                    <th scope="col">Email Id</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col" style="width:120px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model.EntryLookUp; let i = index" [attr.data-index]="i">
                                    <th scope="row">{{ i + 1 }}</th>
                                    <!-- <td>{{ AdminItems[(item?.AdminDepartmentCode)] }}</td> -->
                                    <td>{{ NodelItems[(item?.NodelDepartmentCode)] }}</td>
                                    <td>{{ item.NodelOfficerName }}</td>
                                    <td>{{ item.MobileNo }}</td>
                                    <td>{{ item.EmailId }}</td>
                                    <td>{{ item.Designation }}</td>
                                    <td class="action-link mat-column-Action">
                                        <a class="btn_delete" href="javascript:void(0)" (click)="RemoveEntryClick(i)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon"
                                                style="color: red">delete</mat-icon>
                                        </a>
                                        <a class="btn_edit" href="javascript:void(0)" (click)="editEntryClick(i,item)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>



                <div class="col l 12 s12">
                    <div class="key_search_bx">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>keyword For Search For Scheme/Service Details</mat-label>
                            <textarea matInput placeholder="keyword For Search For Scheme/Service Details"
                                #SearchKeyWordOfDetails formControlName="SearchKeyWordOfDetails"
                                [(ngModel)]="model.SearchKeyWordOfDetails" maxlength="10000"></textarea>
                            <mat-hint>{{ SearchKeyWordOfDetails.value.length }}/10000</mat-hint>
                        </mat-form-field>
                    </div>
                </div>
                <div class="col l12 m12 s12 text-right">
                    <button class="btn-submit mat-button" mat-button matStepperNext (click)="touchFirst(stepper)"> Next
                    </button>
                </div>
            </form>
        </mat-step >
        
     
        <mat-step [stepControl]="secondFormGroup">
            <form [formGroup]="secondFormGroup">
                <ng-template matStepLabel><a href="javascript:void(0);" (click)="touchFirst(stepper)">Scheme/Service Group </a></ng-template>
                <div class="col l12 m12 s12 mb-35 text-center">
                    <section class="mat-typography">
                        <h2 class="color-blue mb-0">Scheme/Service Group</h2>
                    </section>
                </div>

                <div class="row highlight_view">
                    <div class="col l6 m6 s12 ">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Heading 1.  <span style="color: red">*</span></mat-label>
                            <input matInput placeholder="Heading 1" name="Heading1" formControlName="Heading1" #Heading1
                                [(ngModel)]="contentGroupModel.Heading1" />
                        </mat-form-field>   
                        <mat-error *ngIf="secondFormGroup.get('Heading1').hasError('required') && (secondFormGroup.get('Heading1').touched &&secondFormGroup.get('Heading1').invalid)
      "> Heading 1 <strong>required!</strong> </mat-error>                    
                    </div>

                    <div class="col l6 m6 s12 ">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>Heading 2.  <span style="color: red">*</span></mat-label>
                            <input matInput placeholder="Heading 2" name="Heading2" formControlName="Heading2" #Heading2
                                [(ngModel)]="contentGroupModel.Heading2" />
                        </mat-form-field>   
                        <mat-error *ngIf="secondFormGroup.get('Heading2').hasError('required') && (secondFormGroup.get('Heading2').touched &&secondFormGroup.get('Heading2').invalid)
      "> Heading 2 <strong>required!</strong> </mat-error>                    
                    </div>

                    <div class="col s12 btn_add_box">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <label style="padding: 10px 0px; display: inline-block;">Description
                                <span style="color: red">*</span></label>
                            <textarea style="display:none;" matInput placeholder="Description" #grpDescription
                                formControlName="grpDescription" maxlength="100000"></textarea>
    
                            <ckeditor [config]="{uiColor: '#26389b'}" [(ngModel)]="contentGroupModel.Description"
                                placeholder="Description" formControlName="grpDescription" #grpDescription></ckeditor>
                            <mat-hint>{{ grpDescription.value.length }}/100000</mat-hint>
                            
                        </mat-form-field>
                        <a class="btn_add" href="javascript:void(0)" (click)="AddMoreGroupItems();">
                            <mat-icon aria-hidden="false" aria-label="Example home icon">add</mat-icon>
                        </a>
                        <mat-error *ngIf="secondFormGroup.get('grpDescription').hasError('required') && (secondFormGroup.get('grpDescription').touched && secondFormGroup.get('grpDescription').invalid)">
                             Description is <strong>required!</strong>
                        </mat-error>
                    </div>

                  
                    <div class="col l12 m12 s12">
                        <table class="table new_table table_border table_custom mb-20" *ngIf="model.ContentGroup != undefined && model.ContentGroup.length > 0">
                            <thead>
                                <tr>
                                    <th scope="col">Sr.No</th>
                                    <th scope="col">Heading 1</th>
                                    <th scope="col">Heading 2</th>
                                    
                                    <th scope="col" style="min-width:120px;">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let item of model.ContentGroup; let i = index" [attr.data-index]="i">
                                    <th scope="row">{{i+1}}</th>
                                    <td>{{ item?.Heading1 }}</td>
                                    <td>{{ item?.Heading2 }}</td>
                                   <td class="action-link mat-column-Action">
                                        <a class="btn_delete" href="javascript:void(0)"
                                            (click)="RemoveContentGroupItem(i)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">delete
                                            </mat-icon>
                                        </a>
                                        <a class="btn_edit" href="javascript:void(0)"
                                            (click)="editContentGroupItem(i,item)">
                                            <mat-icon aria-hidden="false" aria-label="Example home icon">edit</mat-icon>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <!-- <div class="col l12 s12">
                    <div class="key_search_bx">
                        <mat-form-field class="example-full-width" appearance="outline">
                            <mat-label>keyword For Search For Scheme/Service Group</mat-label>
                            <textarea matInput
                                placeholder="keyword For Search For Scheme/Service Group "
                                #SearchKeyWordOfGroupContent formControlName="SearchKeyWordOfGroupContent"
                                [(ngModel)]="model.SearchKeyWordOfGroupContent" maxlength="10000"></textarea>
                            <mat-hint>{{ SearchKeyWordOfGroupContent.value.length }}/10000</mat-hint>
                        </mat-form-field>
                    </div>
                </div> -->
                <div class="col l12 x8 m4 s12 clearfix">
                    <button type="submit" mat-button class="btn-submit mat-button" (click)="SaveClick()"> Update
                    </button>
                </div>
                <div class="col l12 m12 s12 text-right">
                    <button class="grey_btn mr-5" mat-button matStepperPrevious>Back</button>
                    <!-- <button class="orange_btn" mat-button (click)="stepper.reset()"> Reset</button> -->
                </div>
            </form>
        </mat-step>
    </mat-horizontal-stepper>
</div>
