<!-- <div class="row light-bg">
    <div class="col l6 xl6 m6 s6 ">
        <h5 class="page-title">Chief Minister Profile :</h5>
    </div>
    <div class="col l6 xl6 m6 s6  text-right" *ngIf="this.Permission.AddPageAccess">
        <button mat-button class="btn-submit mt-6" (click)="OpenDialog(null)">
            <mat-icon>add</mat-icon>Create
        </button>

    </div>
</div> -->
<!-- <alert ></alert> -->
<div class="row">
    <div class="col l12 s12 p-0">
        <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">

            <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>#</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    {{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
            </ng-container>


            <ng-container matColumnDef="Name">
                <th mat-header-cell *matHeaderCellDef>Name in Hindi</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    {{element.TitleName}} {{element.Name}}
                </td>
            </ng-container>
            <ng-container matColumnDef="NameHindi">
                <th mat-header-cell *matHeaderCellDef>Name in Hindi</th>
                <td mat-cell *matCellDef="let element; let i = index;">
                    {{element.TitleNameHindi}} {{element.NameHindi}}
                </td>
            </ng-container>

            <ng-container matColumnDef="PhotoPath">
                <th mat-header-cell *matHeaderCellDef>Profile</th>
                <td mat-cell *matCellDef="let element; let i = index;">

                    <div class="image-list" *ngIf="element.PhotoPath"> <img [src]="element.PhotoPath" height="70px"
                            width="50px" /></div>

                </td>
            </ng-container>


            <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">

                <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.Text}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column.Value]}} </td>
            </ng-container>

            <ng-container matColumnDef="IsActive">
                <th mat-header-cell *matHeaderCellDef> Active Status </th>
                <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
                    <a *ngIf="this.Permission.UpdatePageAccess "
                    title="{{ element.IsActive?'This Record can not be de-activated.':'Activate this Record?'}} ">
                        <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
                        <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;"  (click)="updateActiveStatus(element.Code)">toggle_off</mat-icon>
                    </a>
                    <a *ngIf="!this.Permission.UpdatePageAccess" title="{{'Active Status:'+ element.IsActive?'True':'False'}} ">
                        <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
                        <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
                    </a>
                </td>
            </ng-container>

            <ng-container matColumnDef="Action">
                <th mat-header-cell *matHeaderCellDef> Action </th>
                <td mat-cell *matCellDef="let element" class="action-link">
                    <a *ngIf="this.Permission.DeletePageAccess &&!element.IsActive" (click)="updateDeleteStatus(element.Code)"
                        title="Delete">
                        <mat-icon>delete</mat-icon>
                    </a>
                    <!-- <a *ngIf="this.Permission.DetailPageAccess" routerLink="detail/{{element.Code}}" title="Detail">
                        <mat-icon>visibility</mat-icon>
                    </a> -->
                    <a *ngIf="this.Permission.UpdatePageAccess" routerLink="update/{{element.Code}}" title="Update">
                        <mat-icon>edit</mat-icon>
                    </a>

                </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
            <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
        </table>
        <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
            [pageSizeOptions]="[10, 20, 50,100]" (page)="onPaginateChange($event)" showFirstLastButtons
            *ngIf="totalRecords!=0">
        </mat-paginator>

    </div>
</div>