<app-global-list-search  [SearchFields]="searchColumns" (onSearch)="SearchByKeyword($event)" ></app-global-list-search>

<div class="row">
    <div class="col l12 s12 p-0">
  <div class="table-responsive">

  <table mat-table [dataSource]="dataSource" matSort (matSortChange)="SortData($event)" class="mat-elevation-z8" style="vertical-align:top !important;overflow-wrap: break-word;">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ (indexModel.Page - 1) * indexModel.PageSize + (i + 1) }}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.Text }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column.Value] }}</td>

    </ng-container>

    <ng-container matColumnDef="Name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-hindi"> Name <span> / sub Menu Name English </span> </th>
      <td mat-cell *matCellDef="let group" class="action-link toogle-btn table-body-hindi" title={{group.Name}}>
        {{ group.Name | slice:0:50}}{{ group.Name.length > 50 ? '...' : ''}}<span *ngIf="group.SubMenuNameEnglish"> / {{group.SubMenuNameEnglish}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="NameHindi">
      <th mat-header-cell *matHeaderCellDef mat-sort-header class="table-header-hindi"> Name In Hindi <span> / Sub Menu Name Hindi </span> </th>
      <td mat-cell *matCellDef="let group" class="action-link toogle-btn table-body-hindi" title={{group.NameHindi}}>
        {{ group.NameHindi | slice:0:100}}{{ group.NameHindi.length > 100 ? '...' : ''}}<span *ngIf="group.SubMenuNameHindi"> / {{group.SubMenuNameHindi}}</span>
      </td>
    </ng-container>

    <ng-container matColumnDef="IsActive">
      <th mat-header-cell *matHeaderCellDef> Active Status </th>
      <td mat-cell *matCellDef="let element" class="action-link toogle-btn">

        <a (click)="statusClick(element.Id)"
          title="Update Active Status" *ngIf="this.MenuClassificationPermission.UpdatePageAccess">
          <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
          <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
        </a>
        <a  title="Active Status" *ngIf="!this.MenuClassificationPermission.UpdatePageAccess" >
          <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
          <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
        </a>
      </td>
    </ng-container>


    <!-- <ng-container matColumnDef="IsActive">

      <th mat-header-cell *matHeaderCellDef>Active Status</th>
      <td mat-cell *matCellDef="let group" class="toogle-btn">
        <div>
          <ng-container>
            <div  *ngIf="group.IsLock " title="This is Locked record">
              <mat-icon class="toggle_on" *ngIf="group.IsActive" style="cursor:pointer;">toggle_on</mat-icon>
              <mat-icon class="toggle_off" *ngIf="!group.IsActive" style="cursor:pointer;">toggle_off</mat-icon>
            </div>
            <a href="JavaScript:Void(0);" *ngIf="!group.IsLock " (click)="statusClick(group.Id)" title="This is Saved record">
                <mat-icon class="toggle_on" *ngIf="group.IsActive" style="cursor:pointer;">toggle_on</mat-icon>
                <mat-icon class="toggle_off" *ngIf="!group.IsActive" style="cursor:pointer;">toggle_off</mat-icon>
              </a>

           </ng-container>

        </div>
      </td>
    </ng-container> -->


    <ng-container matColumnDef="Action">
      <th mat-header-cell *matHeaderCellDef>Action</th>
      <td mat-cell *matCellDef="let element" class="action-link">

          <a *ngIf="this.MenuClassificationPermission.UpdatePageAccess && !element.IsLock " routerLink="/master/order-Type-Master/update/{{ element.Id }}" title="Edit"
        class="btn_edit">
        <mat-icon>edit</mat-icon>
      </a>


      </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
</div>


  <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
    [pageSizeOptions]="[5, 10, 20, 50,totalRecords]" (page)="onPaginateChange($event)" showFirstLastButtons> </mat-paginator>
</div>
</div>
