<form [formGroup]="formGroup">

  <div class="row">

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name English
        </mat-label>
        <input matInput placeholder="Name English" [(ngModel)]="model.NameEnglish"
          formControlName="NameEnglish" >
      </mat-form-field>
      <mat-error
      *ngIf="formGroup.get('NameEnglish').hasError('required') && (formGroup.get('NameEnglish').touched && formGroup.get('NameEnglish').invalid)">
      Name English is <strong>required!</strong>
    </mat-error>
    </div>

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Name Hindi
        </mat-label>
        <input matInput placeholder="Name Hindi" [(ngModel)]="model.NameHindi"
          formControlName="NameHindi" >
      </mat-form-field>
    </div>

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Display Order
        </mat-label>
        <input matInput placeholder="Display Order" [(ngModel)]="model.DisplayOrder"
          formControlName="DisplayOrder" >
      </mat-form-field>
    </div>

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Remarks
        </mat-label>
        <input matInput placeholder="Remarks" [(ngModel)]="model.Remarks"
          formControlName="Remarks" >
      </mat-form-field>
    </div>

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Url
        </mat-label>
        <input matInput placeholder="Url" [(ngModel)]="model.Url"
          formControlName="Url" >
      </mat-form-field>
      <mat-error
      *ngIf="formGroup.get('Url').hasError('required') && (formGroup.get('Url').touched && formGroup.get('Url').invalid)">
      Url is <strong>required!</strong>
    </mat-error>
    </div>

    <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
        <mat-label>Sample Url
        </mat-label>
        <input matInput placeholder="Sample URl" [(ngModel)]="model.SampleURl"
          formControlName="SampleURl" >
      </mat-form-field>
    </div>

    <div class="col l6 xl6 m6 s12">
      <div class="upload-btn-wrapper">
        <label>Attachment</label>
        <input type="file" id="AttachmentURl" formControlName="AttachmentURl" (change)="handleFileInput($event)" accept="image/*">

      </div>
      <ul class="image-list">
        <li *ngIf="model!=undefined && model.AttachmentURl!=undefined && model.AttachmentURl.length>0">

          <div> <img [src]="model.AttachmentURl" /> <a title="Remove" (click)="RemoveImageFile()">
              <mat-icon>delete</mat-icon>
            </a></div>

        </li>
      </ul>

      <!-- <mat-error *ngIf="ImagefileValidationMsg?.length>0" style="margin: 0px;position: relative;">
        {{ImagefileValidationMsg}}
      </mat-error> -->
    </div>


    <div class="col l12 x8 m4 s6 clearfix">
      <button mat-button class="btn-submit" (click)="SaveClick();">{{title}}</button>
    </div>
  </div>
</form>
