
<div class="col l12 s12 ">
  <!-- <alert></alert> -->
  <div class="col l6 xl6 m6 s12">
      <mat-form-field appearance="outline">
        <mat-label>Document Type  </mat-label>
        <mat-select [(ngModel)]="model.TypeCode" (selectionChange)="GetHelpDocument($event.value)">

          <mat-option value="{{item.Value}}" *ngFor="let item of dDLList?.ddlHelpDocTypeOnWebServiceMaster">{{item.Text}} </mat-option>
        </mat-select>
      </mat-form-field>

    </div>
<div class="col l6 xl6 m6 s12" *ngIf="helpDocument?.Url">
  <a target="_blank" href="{{helpDocument?.Url}}">
    Click to View
   </a>

    <!-- <object *ngIf="helpDocument?.Url" width="100%" height="650px">

      <iframe title="PDF" [src]='PDFFile' type="application/pdf" frameborder="0" width="100%"
        height="650px"></iframe>
    </object> -->
</div>


</div>
