<!-- <app-global-list-search [SearchFields]="ViewdisplayedColumns" (onSearch)="SearchByKeyword($event)">
</app-global-list-search>-->

<div class="row m-0">

  <div class="col l6 xl12 m12 s12">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Keyword</mat-label>
      <input matInput placeholder="KeywordSearch" [(ngModel)]="searchModel.KeywordSearch" #KeywordSearch />
    </mat-form-field>
  </div>


</div>
<div class="row">
  <div class="col l12 xl12 m12 s12 ">
    <a (click)="toggleDisplay()" class="btn-ad-search">{{!isShow?'Hide Advance Search   ':"Show Advance Search"}}
      <mat-icon>
        {{!isShow?'keyboard_arrow_up  ':"keyboard_arrow_down"}}
      </mat-icon>
    </a>
  </div>
  <br />
</div>
<div class="row" *ngIf="!isShow">

  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Department</mat-label>

      <mat-select name="DepartmentCode" [(ngModel)]="searchModel.DepartmentCode">
        <mat-option>--Select--</mat-option>
        <mat-option value="{{k.DepartmentCode}}" *ngFor="let k of  ddlDepartment">{{k.DepartmentTitle}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Office</mat-label>
      <mat-select name="OfficeName" [(ngModel)]="searchModel.OfficeCode">
        <mat-option>--Select--</mat-option>
        <mat-option value="{{k.OfficeCode}}" *ngFor="let k of ddlOffice">{{k.OfficeName}}</mat-option>
      </mat-select>
    </mat-form-field>

  </div>

  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Office Name (Hindi)</mat-label>
      <input matInput placeholder="Office Name (Hindi)" [(ngModel)]="searchModel.OfficeNameHindi" #OfficeNameHindi />
    </mat-form-field>

  </div>
  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Office Short Name</mat-label>
      <input matInput placeholder="Office Short Name" [(ngModel)]="searchModel.OfficeShortName" #OfficeShortName />
    </mat-form-field>

  </div>

  <div class="col l6 xl4 m4 s6">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>From Date</mat-label>
      <input matInput [matDatepicker]="picker1" (focus)="picker1.open()" readonly placeholder="From Date"
        [(ngModel)]="fromDate" [max]="toDate">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
    </mat-form-field>
  </div>
  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>To Date</mat-label>
      <input matInput [matDatepicker]="picker2" (focus)="picker2.open()" readonly placeholder="To Date"
        [(ngModel)]="toDate" [min]="fromDate">
      <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      <mat-datepicker #picker2></mat-datepicker>
    </mat-form-field>
  </div>

  <div class="col l6 xl4 m4 s4">
    <mat-form-field class="example-full-width" appearance="outline">
      <mat-label>Active/De-Active</mat-label>
      <mat-select name="ActiveView" [(ngModel)]="searchModel.ActiveView">
        <mat-option>--Select--</mat-option>
        <mat-option value="true">Active</mat-option>
        <mat-option value="false">DeActive</mat-option>

      </mat-select>
    </mat-form-field>

  </div>
</div>

<div class="row">
  <div class="col l12 xl12 m12 s12 ">
    <button (click)="getList()" mat-button class="btn-submit">Search</button>
    &nbsp;
    <!-- &nbsp;
        <button (click)="print()" mat-button class="btn-submit">Print Report</button> -->
    &nbsp;
    <button (click)="Reset()" mat-button class="btn-submit btn_orange mat-button">Reset<mat-icon>refresh</mat-icon>
    </button>
  </div>

</div>




<div class="row">

  <div class="col l12 s12 p-0">
    <mat-toolbar color="primary" *ngIf="totalRecords==0">No Record...!</mat-toolbar>
    <table mat-table [dataSource]="dataSource" matSort (matSortChange)="sortData($event)" class="mat-elevation-z8"
      *ngIf="totalRecords!=0">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
      </ng-container>

      <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">

        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.Text}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.Value]}} </td>
      </ng-container>

      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef> Active Status </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="updateActiveStatus(element.OfficeId)"
            title="Update Active Status">
            <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Active Status">
            <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off</mat-icon>
          </a>
        </td>
      </ng-container>

      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element" style="cursor:pointer;" class=" action-link">
          <a *ngIf="this.Permission.DeletePageAccess" (click)="updateDeleteStatus(element.OfficeId)" title="Delete">
            <mat-icon>delete</mat-icon>
          </a>
          <a *ngIf="this.Permission.DetailPageAccess" routerLink="detail/{{element.OfficeId}}" title="Detail">
            <mat-icon>visibility</mat-icon>
          </a>
          <a *ngIf="this.Permission.UpdatePageAccess" routerLink="update/{{element.OfficeId}}" title="Update">
            <mat-icon>edit</mat-icon>
          </a>


        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
      [pageSizeOptions]="[10, 20, 50,100,totalRecords]" (page)="onPaginateChange($event)" showFirstLastButtons
      *ngIf="totalRecords!=0">
    </mat-paginator>
  </div>

</div>
