<div class="row light-bg">
  <div class="col l6 xl6 m6 s6 ">
    <h5 class="page-title">Suggestion-Feedback Status Master :</h5>
  </div>
  <div class="col l6 xl6 m6 s6  text-right" *ngIf="this.Permission.AddPageAccess">
    <button mat-button class="btn-submit mt-6" (click)="OpenDialog(null)">
      <mat-icon>add</mat-icon>Create
    </button>
  </div>

</div>
<!-- <alert ></alert> -->
<div class="row">
  <div class="col l12 s12 p-0">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" (matSortChange)="sortData($event)">
      <ng-container matColumnDef="index">
        <th mat-header-cell *matHeaderCellDef>#</th>
        <td mat-cell *matCellDef="let element; let i = index;">{{(indexModel.Page-1)*indexModel.PageSize +(i+1)}}</td>
      </ng-container>
      <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column.Text}} </th>
        <td mat-cell *matCellDef="let element"> {{element[column.Value]}} </td>
      </ng-container>
      <ng-container matColumnDef="IsAdmAction">
        <th mat-header-cell *matHeaderCellDef>Is Admin Action</th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'Adm','Action')"
            title="Update Admin Action Status">
            <mat-icon *ngIf="element.IsAdmAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsAdmAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Admin Action Status">
            <mat-icon *ngIf="element.IsAdmAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsAdmAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsDevAction">
        <th mat-header-cell *matHeaderCellDef> Is Dev Action </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'Dev','Action')"
            title="Update Dev Action Status">
            <mat-icon *ngIf="element.IsDevAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsDevAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Dev Action Status">
            <mat-icon *ngIf="element.IsDevAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsDevAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsUserAction">
        <th mat-header-cell *matHeaderCellDef> Is User Action </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'User','Action')"
            title="Update User Action Status">
            <mat-icon *ngIf="element.IsUserAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsUserAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="User Action  Status">
            <mat-icon *ngIf="element.IsUserAction" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsUserAction" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsAdmFilter">
        <th mat-header-cell *matHeaderCellDef> IsAdmin Filter </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'Adm','Filter')"
            title="Update Admin Filter Status">
            <mat-icon *ngIf="element.IsAdmFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsAdmFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Admin Filter Status">
            <mat-icon *ngIf="element.IsAdmFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsAdmFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsDevFilter">
        <th mat-header-cell *matHeaderCellDef> Is Dev Filter</th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'Dev','Filter')"
            title="Update Dev Filter Status">
            <mat-icon *ngIf="element.IsDevFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsDevFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Dev Filter Status">
            <mat-icon *ngIf="element.IsDevFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsDevFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsUserFilter">
        <th mat-header-cell *matHeaderCellDef> Is User Filter </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'User','Filter')"
            title="Update  User Filter Status">
            <mat-icon *ngIf="element.IsUserFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsUserFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title=" User Filter Status">
            <mat-icon *ngIf="element.IsUserFilter" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsUserFilter" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsSMS">
        <th mat-header-cell *matHeaderCellDef> Is SMS </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnActionStatusClick(element.Id,'','SMS')"
            title="Update SMS Status">
            <mat-icon *ngIf="element.IsSMS" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsSMS" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="SMS Status">
            <mat-icon *ngIf="element.IsSMS" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsSMS" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="IsActive">
        <th mat-header-cell *matHeaderCellDef> Active Status </th>
        <td mat-cell *matCellDef="let element" class="action-link toogle-btn">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OnStatusClick(element.Id)" title="Update Active Status">
            <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
          <a *ngIf="!this.Permission.UpdatePageAccess" title="Active Status">
            <mat-icon *ngIf="element.IsActive" style="cursor:pointer;color: #74cb74;">toggle_on</mat-icon>
            <mat-icon *ngIf="!element.IsActive" style="cursor:pointer;color: #ff7373;">toggle_off
            </mat-icon>
          </a>
        </td>
      </ng-container>
      <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let group" class="action-link">
          <a *ngIf="this.Permission.UpdatePageAccess" (click)="OpenDialog(group.Id)" title="edit">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
    </table>
    <mat-paginator #paginator [length]="totalRecords" [pageSize]="indexModel.PageSize"
      [pageSizeOptions]="[10, 20, 50,100]" (page)="onPaginateChange($event)" showFirstLastButtons
      *ngIf="totalRecords!=0">
    </mat-paginator>

  </div>
</div>
