<div class="row">
  <div class="col  s12">
      <div class="mesgs">
          <div class="msg_history">
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="http://localhost:4200/assets/images/profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <div class="username">User Name</div>
                  <p>Test which is a new approach to have all
                    solutions

                    <br/>

                    <a href="#">sdsdsdsadsdsad dsadsdsdsdsd</a>

                    <br/>

                    <a href="#">sdsdsdsadsdsad dsadsdsdsdsd</a>

                    <br/>

                    <a href="#">sdsdsdsadsdsad dsadsdsdsdsd</a>

                    <br/>

                    <a href="#">sdsdsdsadsdsad dsadsdsdsdsd</a>
                  
                  
                  </p>
                   
                  <span class="time_date"> 11:01 AM    |    June 9  <i class="material-icons msg-unseen">
                    check
                    </i></span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <div class="username">User Name</div>
                <p>Test which is a new approach to have all
                  solutions</p>
                <span class="time_date"> 11:01 AM    |    June 9</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="http://localhost:4200/assets/images/profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <div class="username">User Name</div>
                  <p>Test, which is a new approach to have</p>

                  <span class="time_date"> 11:01 AM    |    Yesterday <i class="material-icons msg-unseen msg_seen">
                    check
                    </i></span></div>
              </div>
            </div>
            <div class="outgoing_msg">
              <div class="sent_msg">
                <div class="username">User Name</div>
                <p>Apollo University, Delhi, India Test</p>
                <span class="time_date"> 11:01 AM    |    Today</span> </div>
            </div>
            <div class="incoming_msg">
              <div class="incoming_msg_img"> <img src="http://localhost:4200/assets/images/profile.png" alt="sunil"> </div>
              <div class="received_msg">
                <div class="received_withd_msg">
                  <div class="username">User Name</div>

                  <p>We work directly with our designers and suppliers,
                    and sell direct to you, which means quality, exclusive
                    products, at a price anyone can afford.</p>
                  <span class="time_date"> 11:01 AM    |    Today</span></div>
              </div>
            </div>
          </div>
    
  
  
        </div>

  
  
  </div>
  
  </div>


  <div class="footer_type_msg">

    <div class="row no-margin">

      <div class="col  s12">
  
        <div class="d-flex">
      <mat-form-field class="example-full-width" appearance="outline" style="width: 100%;">
        <mat-label>Type a message...</mat-label>
        <input matInput placeholder="Type a message...">
      </mat-form-field>

      <!-- <button mat-button class="btn-add" ><i class="material-icons">attach_file</i></button> -->

      <div class="file-btn">
        <i class="material-icons">attach_file</i>
        <input type="file" name="file">
      </div>

      <button mat-button class="btn-send" ><i class="material-icons">send</i></button>

    </div>

</div>

    </div>
  </div>
  

 

