<h2 mat-dialog-title>Select Date Range</h2>
<mat-dialog-content class="mat-typography">
  <div class="row" style="margin: 0px;">
    <div class="col l6 xl6 m6 s12">
      <mat-form-field appearance="outline">
        <input
          matInput
          [(ngModel)]="data.startDate"
          [matDatepicker]="picker1"
          placeholder="From date"
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="picker1"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker1></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col l6 xl6 m6 s12">
      <mat-form-field appearance="outline">
        <input
          matInput
          [(ngModel)]="data.endDate"
          [matDatepicker]="picker"
          placeholder="To date"
        />
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
</mat-dialog-content>
<mat-dialog-actions style="float: right;">
  <button mat-button mat-dialog-close  class="btn-submit btn_orange">Cancel</button>
  <button mat-button [mat-dialog-close]="data" cdkFocusInitial  class="btn-submit btn_green">Submit</button>
</mat-dialog-actions>
<!--  -->
