
<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Nerwsletter</title>
    <!--<link href="../Content/front/bootstrap/css/styleNewsletter.css" rel="stylesheet" />-->
</head>

<body style="font-size: 18px; color: #590068; line-height: 30px; margin: 0px; padding: 0px; font-family: 'Aller-Light'; font-family: Calibri, Helvetica, sans-serif; ">


    <div class="wrapper" style="max-width: 650px; width: 100%; margin: auto; background: #fbfcf9;">
        <span>Dear <b>User ,</b></span>
        <br />
        <br />
        <span>You requested to reset your password on courierbookingportal.projectstatus.in.. Please click on reset password button below. If you didn't make this request, ignore this email.</span>
        <br />
        <br />
        <span>
            You will be taken to reset password screen of the courierbookingportal.projectstatus.in. site. Please inform the Administrator immediately if you did not request it.
        </span>
        <br />
        <br />
        <a style="display: block;font-size:16px; color:#0094ff;font-family:Calibri, Helvetica, sans-serif;text-decoration:none;" target="_blank" href="{Url}">Please click here to reset your password.</a>
        <br />
        <span style="font-size: 14px; color: #393a3b">Best</span><br /><br />
        <strong style="color:#393a3b;font-size:13px;">  ON POINT EXPRESS Team.</strong><br />
    </div>

</body>
</html>