<div class="modal-header">
  <p>{{title}} Help Document Type Master</p>

  <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
  </button>

</div>

<div class="col l12 s12 ">

  <div class="col l6 xl6 m6 s12 mb-10">
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> Name in English <span style="color: red">*</span>
          </mat-label>
          <input matInput placeholder="Name in English" [formControl]="Name" name="Name" [(ngModel)]="model.Name" id="Name">
      </mat-form-field>
      <mat-error *ngIf="Name.invalid && Name.touched">
         Name in English is <strong>required</strong>
        </mat-error>
  </div>

  <div class="col l6 xl6 m6 s12 mb-10">
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label> Name in Hindi
          </mat-label>
          <input matInput placeholder="Name in Hindi" name="NameHindi" [(ngModel)]="model.NameHindi" id="NameHindi">
      </mat-form-field>
  </div>

  <div class="col l6 xl6 m6 s12 mb-10">
    <mat-form-field class="example-full-width" appearance="outline">
        <mat-label> SSOID
        </mat-label>
        <input matInput placeholder="SSOID" name="SSOID" [(ngModel)]="model.SSOID" id="SSOID">
    </mat-form-field>
</div>

  <div class="col l6 xl6 m6 s6 mb-10 mat-form-field-wrapper">
    <section class="example-full-width  checkbox-bx-custom checkbox-bx-custom-with-label" appearance="outline">
      <!-- <mat-label>Is Aplicable To All Department</mat-label> -->
      <mat-checkbox [(ngModel)]="model.IsShowInWebServiceMaster" >Is Show In WebService Master</mat-checkbox>
    </section>
  
  </div>

  <div class="col l12 x8 m4 s12 mb-10">
      <button mat-button class="btn-submit" (click)="SaveClick()">{{title}}</button>
  </div>
</div>
