
<!-- <alert ></alert> -->
<div class="row">
  <div class="col l12 s12 p-0">
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">

                       <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index;">{{(i+1)}}</td>
            </ng-container>
            <ng-container matColumnDef="DepartmentTitle">

                <th mat-header-cell *matHeaderCellDef>
                  <table class="table-in-data-head">
                    <tbody>
                      <tr>
                        <td>Department</td>
                      </tr>
                      <tr>
                        <td>WebsiteName</td>
                      </tr>
                    </tbody>
                  </table>
                </th>
                <td mat-cell *matCellDef="let element">
                  <table class="table-in-data">
                    <tbody>
                      <tr>
                        <td>{{element.DepartmentTitle}}</td>
                      </tr>
                      <tr>
                        <td>{{element.WebsiteName}}</td>
                      </tr>
                    </tbody>
                  </table>
                  <!-- {{element.DepartmentTitle}} <br>{{element.WebsiteName}} -->
                </td>
              </ng-container>
              <ng-container matColumnDef="NodalOfficerName">
                  <th mat-header-cell *matHeaderCellDef>
                    <table class="table-in-data-head">
                      <tbody>
                        <tr>
                          <td>Nodal Officer Name</td>
                        </tr>
                        <tr>
                          <td>Nodal Officer Designation</td>
                        </tr>
                      </tbody>
                    </table>

                     </th>
                  <td mat-cell *matCellDef="let element">
                    <table class="table-in-data">
                      <tbody>
                        <tr>
                          <td>{{element.NodalOfficerName}}</td>
                        </tr>
                        <tr>
                          <td>{{element.NodalOfficerDesignation}}</td>
                        </tr>
                      </tbody>
                    </table>

                    <!-- {{element.NodalOfficerName}} <br>{{element.NodalOfficerDesignation}} -->
                  </td>
                </ng-container>
                <ng-container matColumnDef="MobileNo">
                    <th mat-header-cell *matHeaderCellDef>
                      <table class="table-in-data-head">
                        <tbody>
                          <tr>
                            <td>MobileNo</td>
                          </tr>
                          <tr>
                            <td>Email</td>
                          </tr>
                          <tr>
                            <td>SSOID</td>
                          </tr>
                        </tbody>
                      </table>

                      </th>
                    <td mat-cell *matCellDef="let element">
                      <table class="table-in-data">
                        <tbody>
                          <tr>
                            <td>{{element.MobileNo}}</td>
                          </tr>
                          <tr>
                            <td>{{element.Email}}</td>
                          </tr>
                          <tr>
                            <td>{{element.SSOID}}</td>
                          </tr>
                        </tbody>
                      </table>

                     </td>
                  </ng-container>

        <ng-container matColumnDef="Action">
              <th mat-header-cell *matHeaderCellDef>Action</th>
              <td mat-cell *matCellDef="let element" class="action-link">
                <a *ngIf="this.Permission.AddPageAccess" routerLink="/master/departmentprofileupdate/{{ element.DepartmentId }}" title="Edit"
                  class="btn_list">
                  <mat-icon>edit</mat-icon>
                </a>
      </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
      </table>


  </div>
</div>




