
<div class="modal-header">
  <p>Contact Person List</p>

  <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon></button>

  </div>
           <div class="col l12 s12 " >
           <table mat-table [dataSource]="dataSource" class="mat-elevation-z8" *ngIf="contactResponseViewModel.length>0">
            <ng-container matColumnDef="index">
              <th mat-header-cell *matHeaderCellDef>#</th>
              <td mat-cell *matCellDef="let element; let i = index">
                {{ (indexModel.Page - 1) * indexModel.PageSize + (i + 1) }}
              </td>
            </ng-container>
              <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">

                <th mat-header-cell *matHeaderCellDef> {{column.Text}} </th>
                <td mat-cell *matCellDef="let element"> {{element[column.Value]}} </td>
              </ng-container>

              <ng-container matColumnDef="Action">
                      <th mat-header-cell *matHeaderCellDef> Action </th>
                      <!-- <mat-cell *matCellDef="let data" (click)="$event.stopPropagation()"> -->
                      <!-- <button class="btn-submit mt-5" mat-button (click)="selectContactPrsion(data)">
                     Select
                      </button> -->
                      <!-- <mat-checkbox  #ref
                      [checked]="checked"
                      (click)="selectContactPrsion($event)"
                    >onClick me!</mat-checkbox> -->
                    <!-- <!-- <mat-checkbox [(ngModel)]="data.Id" (change)="selectContactPrsion(data)">add</mat-checkbox> --> -->

                      <!-- </mat-cell> -->
                      <td mat-cell *matCellDef="let row">
                        <mat-checkbox value="row.Id" (change)="selectContactPrsion(row)"></mat-checkbox>
                      </td>

                      </ng-container>

              <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
              <tr mat-row *matRowDef="let row; columns: columnsToDisplay;"></tr>
            </table>
           
            <mat-paginator [pageSizeOptions]="[4,10, 15, 20]" (page)="onPaginateChange($event)" showFirstLastButtons></mat-paginator>


          <button class="btn-submit mt-5" mat-button (click)="saveContactPersion()">
            Save
             </button>

          </div>

