<div class="modal-header">
  <p>{{title}} Beneficiary Category Master</p>

  <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon>
  </button>

</div>
<div class="col l12 s12 ">

  <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Beneficiary Category Name in English
          </mat-label>
          <input matInput placeholder="Beneficiary Category Name in English" maxlength="100" [formControl]="ansmtcategory"  name="ansmtcategory" [(ngModel)]="model.ansmtcategory" id="ansmtcategory">
      </mat-form-field>
      <mat-error *ngIf="ansmtcategory.invalid && ansmtcategory.touched">
        Beneficiary Category Name in English is <strong>required</strong>
            </mat-error>
  </div>
  <div class="col l6 xl6 m6 s12">
      <mat-form-field class="example-full-width" appearance="outline">
          <mat-label>Beneficiary Category Name in Hindi
          </mat-label>
          <input matInput placeholder="Beneficiary Category Name in Hindi" maxlength="100" [formControl]="ansmtcategoryinHindi"  name="ansmtcategoryinHindi" [(ngModel)]="model.ansmtcategoryinHindi" id="ansmtcategoryinHindi">
      </mat-form-field>
      <mat-error *ngIf="ansmtcategoryinHindi.invalid && ansmtcategoryinHindi.touched">
        Beneficiary Category Name in Hindi is <strong>required</strong>
            </mat-error>
  </div>


  <div class="col l12 x8 m4 s12 ">
      <button mat-button class="btn-submit" (click)="SaveClick()">Submit</button>
  </div>
</div>

