<mat-nav-list>
  <app-menu-list-item *ngFor="let item of navItems" [item]="item"></app-menu-list-item>
</mat-nav-list>

<!-- <a class="menu-list-item raj-adv-admin-menu" mat-list-item *ngIf="LoginModel?.UserViewModel?.UserType=='SADM' && isShow"
  target="_blank" [href]="url">
  <mat-icon>
    lock
  </mat-icon>
  Rajadvt Admin
</a> -->

 
<div class="sedibar-footer">
  <p class="footer-web-info-title">Website Designed, Developed & Maintained by:</p>
  <p class="footer-web-info">Shri Rajesh Saini, General Manager, RajCOMP info
    Service Limited, Jaipur</p>
</div>