.report_bx a {
    padding: 20px;
    display: block;
    font-size: 16px;
    box-shadow: 0px 0px 20px 0px rgba(73, 78, 92, 0.1);
    border-top: 3px solid #f39c12;
}
.report_bx a mat-icon {
    color: #3e3e3e;
    display: inline-block;
    position: relative;
    top: 5px;
    margin-right: 7px;
    }
    .float-right{ float: right;}
