
<div class="modal-header">
  <p>VC Participant List</p>

  <button mat-button (click)="onNoClick()">
      <mat-icon>close</mat-icon></button>

  </div>
           <div class="col l12 s12 " >


  <table mat-table [dataSource]="dataSource" *ngIf="listModel?.length>0" matSort (matSortChange)="SortData($event)" class="mat-elevation-z8" style="vertical-align:top !important">
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef>#</th>
      <td mat-cell *matCellDef="let element; let i = index">
        {{ (indexModel.Page - 1) * indexModel.PageSize + (i + 1) }}
      </td>
    </ng-container>

    <ng-container [matColumnDef]="column.Value" *ngFor="let column of ViewdisplayedColumns">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
        {{ column.Text }}
      </th>
      <td mat-cell *matCellDef="let element">{{ element[column.Value] }}</td>
    </ng-container>

    <ng-container matColumnDef="NodalDepartmentTitle">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>
         Nodel Department Name~
      </th>
      <td mat-cell *matCellDef="let element">
        <span innerHTML="{{element.NodalDepartmentTitle}}"></span>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
    <tr mat-row *matRowDef="let row; columns: columnsToDisplay"></tr>
  </table>
  <mat-paginator #paginator [length]="totalRecords" *ngIf="listModel?.length>0" [pageSize]="indexModel.PageSize"
    [pageSizeOptions]="[5, 10, 20, 50]" (page)="onPaginateChange($event)" showFirstLastButtons> </mat-paginator>

          </div>

<div *ngIf="listModel?.length==0"> Record Not Found</div>
